
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>BodyREP Demo ADMIN</title>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
    <script type='text/javascript' src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js"></script>
    <script src="/static/javascripts/jsrender.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/form2js/form2js.js"></script>
    <script src="/static/form2js/jquery.toObject.js"></script>
    <script src="/static/form2js/json2.js"></script>
    <script src="/static/javascripts/script_admin.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/smoothness/jquery-ui-1.8.20.custom.css"/>
    <link rel="stylesheet" href="/static/stylesheets/jui_style.css"/>
    <link rel="stylesheet" href="/static/stylesheets/style.css"/>
    <script id="movieTemplate1" type="text/x-jsrender">
      <h3>{{:Activities.Activity.date}}</h3>
      <div class="workoutdata">
          <a  href=# class="activitydelete" title="{{:_id}}" >Delete</a>
          <a  href=# class="activityedit" title="{{:_id}}" >Edit</a>
          {{if Activities.Activity.Lap}}  
            {{for Activities.Activity.Lap}}
                      <p>Workout step {{:#index+1}} - 
                      {{if cardio}} Cardio - {{:cardio.name}} - {{:cardio.distance}} x {{:cardio.time}} -- {{:cardio.muscledata}} {{/if}}
                      {{if exercise}} Exercise - {{:exercise.name}} - {{:exercise.sets}} x {{:exercise.reps}} with {{:exercise.weight}} Kg  -- {{:exercise.muscledata}}{{/if}}
                      {{if rest}} Recovery Step {{/if}}
                      </p>
                      
            {{/for}}
          {{/if}}            
      </div>
      
    </script>
    <script id="DataTemplate1" type="text/x-jsrender">
      <h3>{{:Activities.Activity.date}}</h3>
      <div class="workoutdata">
          // <h4>{{:Activities.Activity.date}} - {{:Activities.Activity.name}}</h4>
          <a  href=# class="activitydelete" title="{{:_id}}" >Delete</a>
          <a  href=# class="activityedit" title="{{:_id}}" >Edit</a>
      </div>
      
    </script>



  </head>
  <body>
<div id="container">
<div id="logo"><H1>BodyREP Demo ADMIN</h1></div>
<div id="display">
 
<ul>
<li style="display: none" class="new-lap ui-state-default removable">
            <label class="uiindex"></label>
            <select class="laptype" >
              <option value="">Select...</option>
              <option value="Cardio">Cardio</option>
              <option value="Exercise">Weights</option>  
            </select>
          <span><a href=# class=delete>delete</a></span>
</li>
</ul>

     <button type="button" id="addexerciseformopen" value="AddExercise"/>Add New Exercise</button>

      <div id="ExerciseEditor" >
       <span class="EditExerciseID">     
             <ul id="exercises">
             </ul>
        </span>
      </div>

      <div id="ExerciseEditorForm" >
       <span class="EditExerciseID">     
          <form id="EditExerciseForm">
             <ul id="editexercise">
             </ul>
            <button type="submit" id="saveexercises" value="Save">Save</button>
            <button type="button" id="cancelexerciseform" value="Cancel"/>Reset</button>

        </form>
       </span>
      </div>
   </div>
    




</div>
    </div>
 </div>
      

</div></body>
</html>
