
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>BodyREP Demo</title>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
    <script type='text/javascript' src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js"></script>
    <script src="/static/javascripts/jsrender.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/form2js/form2js.js"></script>
    <script src="/static/form2js/jquery.toObject.js"></script>
    <script src="/static/form2js/json2.js"></script>
    <script src="/static/javascripts/script.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/smoothness/jquery-ui-1.8.20.custom.css"/>
        <link rel="stylesheet" href="/static/stylesheets/jui_style.css"/>
    <link rel="stylesheet" href="/static/stylesheets/style.css"/>
    <script id="movieTemplate1" type="text/x-jsrender">
      <h3>{{:Activities.Activity.date}}</h3>
      <div class="workoutdata">
          <a  href=# class="activitydelete" title="{{:_id}}" >Delete</a>
          <a  href=# class="activityedit" title="{{:_id}}" >Edit</a>
          {{if Activities.Activity.Lap}}  
            {{for Activities.Activity.Lap}}
                      <p>Workout step {{:#index+1}} - 
                      {{if class == 'Cardio' }} Cardio - {{:exercisename}} - {{:distance}} x {{:time}} -- {{:exercisemuscledata}} {{/if}}
                      {{if class == 'Exercise' }} Exercise - {{:exercisename}} - {{:sets}} x {{:reps}} with {{:weight}} Kg  -- {{:exercisemuscledata}}{{/if}}
                      </p>
                      
            {{/for}}
          {{/if}}            
      </div>
      
    </script>
    <script id="DataTemplate1" type="text/x-jsrender">
      <h3>{{:Activities.Activity.date}}</h3>
      <div class="workoutdata">
          // <h4>{{:Activities.Activity.date}} - {{:Activities.Activity.name}}</h4>
          <a  href=# class="activitydelete" title="{{:_id}}" >Delete</a>
          <a  href=# class="activityedit" title="{{:_id}}" >Edit</a>
      </div>
      
    </script>



  </head>
  <body>
<div id="container">
<div id="logo"><H1>BodyREP Demo</h1></div>
<div id="display">
 
<ul>
<li style="display: none" class="new-lap ui-state-default removable">
            <label class="uiindex"></label>
            <select class="laptype" name="Activities.Activity.Lap[0].class">
              <option value="">Select...</option>
              <option value="Cardio">Cardio</option>
              <option value="Exercise">Weights</option>  
            </select>
          <span><a href=# class=delete>delete</a></span>
</li>
</ul>

      <div id="Activities">
      <ul id="ActivityList"></ul>
      </div>
    
<div id="RightColumn">
      <div id="Activity">
      <span class="ActivityID">
            <form id="myForm">
            <ul id="sortable" class="Activities">
            <li class="ui-state-default"><label>Date</label><input type="text" class="datepicker" name="Activities.Activity.date"></li>
            </ul>
            <button type="submit" id="save" value="Save">Save</button>
            <button type="button" id="cancelform" value="Cancel"/>Reset</button>
            </form>
            <button class="Add" value="lap">Add Exercise</button>
      </span>
      </div>
      

    

</div>
    </div>
 </div>
      

</div></body>
</html>
